In [1]:
import pandas as pd
import sqlite3

In [3]:
conn = sqlite3.connect("../../data/data_clean.sqlite3")

In [4]:
df = pd.read_sql_query("SELECT specialty FROM Specialty;", conn)
df.head()

              specialty
0      anesthesiologist
1  radiation oncologist
2       ophthalmologist
3               dentist
4          psychiatrist

In [6]:
df = pd.read_sql_query("""
SELECT Specialty.specialty, COUNT(npi) FROM Specialty
    NATURAL JOIN Provider_Specialty
    NATURAL JOIN Provider
    GROUP BY Specialty.idx_specialty
    ORDER BY COUNT(npi) DESC;
""", conn)
df.head(20)

                       specialty  COUNT(npi)
0             nurse practitioner      101559
1              internal medicine       93292
2           general practitioner       80104
3            physician assistant       61239
4                family practice       56564
5                   psychologist       55493
6                  social worker       53401
7        mental health counselor       53331
8                     pediatrics       37535
9                family medicine       36120
10              physical therapy       35722
11                     optometry       35443
12                         other       31028
13    general practice dentistry       28088
14            emergency medicine       27801
15               general dentist       26381
16            physical therapist       22696
17                anesthesiology       21988
18                  chiropractor       20015
19  certified nurse practitioner       19846

In [8]:
df = pd.read_sql_query("""
SELECT Address.zip, COUNT(npi) FROM Provider
    NATURAL JOIN Address
    GROUP BY (Address.zip);
""", conn)

In [9]:
df.sort_values("COUNT(npi)", ascending=False).head()

         zip  COUNT(npi)
18157  75057       18731
11590  46202       15900
8123   33136       14142
12150  48109       11267
7278   30342        9444